<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring3:war exploded">
    <output-path>$PROJECT_DIR$/target/spring.demo</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring3" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframeowrk:spring-context-support:4.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframeowrk:spring-jdbc:4.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframeowrk:spring-tx:4.2.4.RELEASE" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/spring.demo/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring3/web/Web" />
    </root>
  </artifact>
</component>